<div id = "new_flat">
  <h1> New Flat </h1>

  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :number_of_guests %>
    <%= f.input :price_per_night %>
    <%= f.input :image %>

    <%= f.submit 'Create flat', :class => 'btn btn-success' %>

    <div> <%= link_to "Back to list", flats_path, class: 'btn btn-primary' %> </div>
  <% end %>
</div>
